

.brush1{
    width: 80%;
    top: 70dvh;
    left: 50%;
    transform: translateX(-60%);
    opacity: 0.65;
}

.brush2{
    width: 80%;
    top: 200dvh;
    left: 50%;
    transform: translateX(-45%);
    opacity: 0.65;
}