@import "@/styles/variables.scss";

// .row {
//     @apply relative py-16 overflow-hidden grid gap-3;
// font-size: $h1-font-size;
// font-weight: $headers-font-weight;
// line-height: 40px;
// letter-spacing: 0.02em;
// text-align: center;
//   }

.grid {
    display: grid;
    grid-template-columns: 1fr 50px 1fr 50px 1fr; /* Defines the columns */
    grid-template-rows: 3rem 1fr;
   
    column-gap: 0.5rem;
    justify-content: center; /* Centers content horizontally */
    // align-items: center; /* Centers content vertically */
    & > * {
        // border: 1px solid black;
        text-align: center;
        text-shadow: $text-shadow;
        
    }
}

/* Media query for medium screens */
@media (min-width: 768px) {
    .grid {
        /* Adjust grid properties for medium screens */
        grid-template-columns: 1fr 50px 1fr 50px 1fr; /* Example adjustment */
        grid-template-rows: calc($h1-font-size + 1rem) 1fr; /* Example adjustment */
        column-gap: 5%; /* Example adjustment */
        justify-content: center; /* Example adjustment */
        /* align-items: center; /* Example adjustment */
    }

    .grid > * {
        /* Adjust child elements for medium screens */
        text-align: center; /* Example adjustment */
        text-shadow: $text-shadow; /* Example adjustment */
    }
}

// .cell {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.numbers {
  font-weight: 400;
}

.delimiter{
    //font-size: calc($h1-font-size );
    font-family: "DINCondensed-Medium";
}

