@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
}

.circle {
  z-index: 10;
  border-radius: 50%;
  background-color: $secondary-color;
  font-weight: 800;
  transition: all 0.3s ease;
  filter: brightness(0.9);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

  @include tablet {
  }

  // Pro laptop (1024px - 1279px)
  @include laptop {
  }

  // Pro desktop (1280px - 1535px)
  @include desktop {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
}

.interactive {
  cursor: pointer;

  &:hover {
    transform: scale(1.08) translateY(-0.5rem);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    filter: brightness(1.1);
    z-index: 20;
  }
}

.nonInteractive {
  cursor: default;
  pointer-events: none;
}

.animated {
  animation: float 6s ease-in-out infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.large {
  width: clamp(3rem, 35vw, 20rem);
  height: clamp(3rem, 35vw, 20rem);
}

.small {
  width: clamp(0.5rem, 42vw, 12rem);
  height: clamp(2rem, 42vw, 12rem);

  @include tablet {
    width: clamp(0.5rem, 28vw, 16rem);
    height: clamp(2rem, 28vw, 16rem);
  }

  // Pro laptop (1024px - 1279px)
  @include laptop {
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// Text size variants
.mainText {
  font-size: 2.25rem; // text-4xl - default size
}

.h1Text {
  font-size: clamp(1rem, 7vw, 2rem);
  // Pro desktop (1280px - 1535px)
  @include desktop {
    font-size: 3rem;
  }
}

.h2Text {
  font-size: clamp(0.8rem, 4.5vw, 1.5rem);
}

.circleSubText {
  font-size: clamp(0.75rem, 1.5vw, 2rem);
  font-weight: 400;
  line-height: normal;

  @include min-tablet {
    font-size: clamp(0.75rem, 2.5vw, 1.5rem);
  }
}
