@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.mapContainer {
  height: 20rem;
  width: 100%;
  margin-bottom: 4rem;
  z-index: 10;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 2px $font-color-secondary;

  @include tablet {
    height: 25rem;
  }

  @include laptop {
    height: 30rem;
  }

  @include desktop {
    height: 35rem;
  }

  @include wide-desktop {
    height: 40rem;
    width: 100%;
    margin-bottom: 6rem;
  }
}
