@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.informationContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  grid-template-areas: "circle" "text";
  margin-bottom: 3rem;

  @include tablet {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  @include laptop {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text circle";
    justify-items: start;
  }

  @include desktop {
    grid-template-areas: "text circle";
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }

  @include wide-desktop {
    grid-template-areas: "text circle";
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-area: text;
  margin-bottom: 1rem;
}

.circleWrapper {
  // height: 5rem;
  grid-area: circle;
  justify-self: center;
  display: flex;

  @include tablet {
    justify-self: center;
  }

  // @include laptop {
  //   height: 25rem;
  // }

  @include desktop {
    // height: 25rem;
  }
}
.circlePosition {
  // margin-top: 3rem;
  justify-items: center;

  @include laptop {
    margin-top: 0rem;
    margin-right: 3rem;
    justify-self: end;
    align-self: flex-start;
  }

  @include desktop {
    // margin-top: -3rem;
    // margin-right: 0rem;
    justify-self: end;
    align-self: flex-start;
  }
}
