@import "@/styles/variables.scss";



.heroTitle{
  text-shadow: $text-shadow;
  font-weight: $headers-font-weight;
  letter-spacing: 0.02em;
  margin-top: 7rem;
}

.heroSubTitle{
  font-weight: $headers-font-weight;
  // line-height: 40px;
  // letter-spacing: 0.02em;
  text-align: center;
  text-shadow: $text-shadow;
}

.rowDate{
  display: flex;
  gap: 5rem;

}