@import "@/styles/variables.scss";

.section__bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0.3;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// .bgHero {
//   position: relative;

//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-image: url("/hero_background.jpg");
//     background-size: cover;
//     background-position: center;
//     opacity: 0.3;
//     z-index: 0;
//   }
// }


.heroGrid {
  z-index: 5;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "top top"
    "left right";
  gap: 1rem;
  padding-left: 10rem;
}

.logoHeader {
  grid-area: top;
  justify-self: start;
  align-self: flex-end;
}

.placeAndTime {
  grid-area: left;
  justify-self: start;
}
.buyTickets {
  grid-area: right;
  justify-self: center;
}




// @media (max-width: 768px) {
//   .heroSubTitle {
//     line-height: 2rem;
//   }
// }

// .rowDate {
//   display: flex;
//   gap: 5rem;
// }
