@import "@/styles/variables.scss";

.heroTitle {
  text-shadow: $text-shadow;
  font-weight: $headers-font-weight;
  letter-spacing: 0.02em;
  margin-top: 7rem;
}

.heroSubTitle {
  font-weight: $headers-font-weight;
  text-align: center;
  text-shadow: $text-shadow;
  line-height: 4rem;
}

@media (max-width: 768px) {
  .heroSubTitle {
    line-height: 2rem;
  }
}

.rowDate {
  display: flex;
  gap: 5rem;
}
