@import "@/styles/variables.scss";
.menuButton{
    border: $primary-color 4px solid;
    border-radius: 9999px;
    font-size: $paragraph-font-size;
    cursor: pointer;

    .dots{
        gap: 0.2rem;
    }

    .dot{
        width: 0.4rem;
        height: 0.4rem;
    }
}