$primary-color: #EF0000;
$font-family: 'DINCondensed', sans-serif;

$h1-font-size: 6rem;
$h2-font-size: 3rem;
$h3-font-size: 2.25rem;

$paragraph-font-size: 1.5rem;

$headers-font-weight: 700;

$text-shadow: 0 4px 5px #0000003e;