@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@font-face {
  font-family: "DINCondensed";
  src: url("/fonts/DINCondensed-Bold.ttf") format("truetype");
  src: url("/fonts/DINCondensed-Regular.ttf") format("truetype"),
    url("/fonts/DINCondensed-Medium.ttf") format("truetype"),
    url("/fonts/DINCondensed-BlackAlternate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import "variables";

body {
  & > * {
    box-sizing: border-box;
  }

  color: $primary-color;
  font-family: $font-family;
  // font-family: 'Lato', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
  font-weight: 600;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

p {
  font-size: $paragraph-font-size;
  text-align: justify;
  color: $font-color-secondary;

}

.grey-row {
  background: $bg-secondary;
}

a {
  text-decoration: none;
  color: inherit;
  /* Additional properties */
  cursor: pointer; /* Change cursor to pointer on hover */
  /* Add more properties as needed */
}


.swiper {
  width: 90%;
  height: 100%;
  --swiper-navigation-color: var(--color-bg-0);
  margin-bottom: 10rem;
}

@media (max-width: 640px) {

  h2 {
    font-size: $h2-font-size-small;
    font-weight: 600;
  }


  h3 {
    font-size: $h3-font-size-small;
  }

  p {
    font-size: $paragraph-font-size-small;
  }
}