@import "@/styles/variables.scss";


.foodSection{
    display: grid;
    grid-template-columns:  1fr 50%;
    justify-items: start;
    gap: 1rem;
    align-items: center;
}

.textContent{
  
    padding-top: 3rem;
    max-width: 80%;
}
.sectionHeader{
  margin-left: 5rem;
  margin-top: 8rem;
}

.circle {
  z-index: 10;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: $secondary-color;
  margin-bottom: 15rem;
  font-weight: 800;
}
