@import "@/styles/variables.scss";

.sectionMartialArtContent {
  // background-color: grey;
  display: grid;
  grid-template-columns: minmax(300px, 40%) 1fr;
  justify-items: center;
  gap: 10rem;
  align-items: center;
}

.textContent{
    padding-top: 3rem;
    max-width: 80%;

    display: grid;
     justify-items: start;
    gap: 6rem;

    button{
          justify-self: start;
    }
}

.circle {
  z-index: 10;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: $secondary-color;
  margin-bottom: 15rem;
  font-weight: 800;
}
