@import "@/styles/variables.scss";

.sectionMartialArtContent {
  // background-color: grey;
  display: grid;
  grid-template-columns: 55% 1fr;
  justify-items: start;
      gap: 1rem;
  align-items: center;
}

.textContent {
  padding-left: 5rem;
  padding-top: 3rem;
  max-width: 80%;

  display: grid;
  justify-items: start;
  gap: 6rem;

  button {
    justify-self: start;
  }
}

.circlePosition {
  justify-self: start;
  margin-left: 5rem;
}
