@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.bubbleGrid {
  width: 100%;
  display: grid;
  gap: 0;
  justify-items: center;
  align-items: center;

  // Pro desktop (1280px - 1535px)
  @include desktop {
    padding-bottom: 15rem;
  }

  @include wide-desktop {
    padding-top: 3rem;
    padding-bottom: 25rem;
  }
}

.circlePosition {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}