.bubbleGrid {
  width: 100%;
  display: grid;
  gap: 0;
  justify-items: center;
  align-items: center;
  // max-width: 90rem;
  // margin: 3rem auto;
  // padding: 2rem;
  // border: solid 1px black;
  padding-bottom: 15rem;
}

.circlePosition {
  display: flex;
  align-items: center;
  justify-content: center;
  
  // border: solid 1px black;
  // background-color: #4106e365;
}