@import "@/styles/variables.scss";
.row {
  @apply relative py-16 overflow-hidden;
}

.bgOverlay {
  background-image: url("/bg-pattern-wave-small.png");
  background-color: transparent;
  background-repeat: repeat;
  background-size: auto;
  opacity: 0.05;
}

.greyRow {
  background: #f5f5f5;
  background-image: url("/temple.jpg");
  background-size: cover;
  background-position: center; 
}


.hero {
  display: flex;
  justify-content: center;
  height: 100%;

  
}
.heroTitle{
  text-shadow: $text-shadow;
  font-size: $h1-font-size;
  font-weight: $headers-font-weight;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 7rem;

  // letter-spacing: 10px;
}

.heroSubTitle{
  margin-top: 7rem;
  font-size: $h2-font-size;
  font-weight: $headers-font-weight;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-shadow: $text-shadow;
}

.rowDate{
  display: flex;
  gap: 5rem;

  h3{
    font-size: $h3-font-size;
  }
}